In [61]:
## L2
# High resolution existing tick data/historial orderbook data for BTC 
    # http://api.bitcoincharts.com/v1/csv/
# Not free/rate limited:
    # https://www.coinapi.io/Pricing 
        # 100 requests / day

In [65]:
import pandas as pd
import numpy as np
# import time
# from multiprocessing import Pool

In [66]:
# Source: http://api.bitcoincharts.com/v1/csv/
# Add script/func to download/check presence of (optional)
filename = "data/raw_data_external/coinbaseUSD_11212019.csv"

In [67]:
df = pd.read_csv(filename,names=["Date","Price","Size"])

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56615868 entries, 0 to 56615867
Data columns (total 3 columns):
Date     int64
Price    float64
Size     float64
dtypes: float64(2), int64(1)
memory usage: 1.3 GB

In [69]:
# Retrive number of rows
row_count = df.shape[0]
row_count

56615868

In [70]:
row_count/2

28307934.0

In [76]:
row_count/4

14153967.0

In [90]:
row_count/8

7076983.5

In [88]:
row_count/36

1572663.0

In [71]:
df.head()

         Date  Price      Size
0  1417412036  300.0  0.010000
1  1417412423  300.0  0.010000
2  1417415048  370.0  0.010000
3  1417416612  370.0  0.026556
4  1417498166  377.0  0.010000

In [72]:
filename_hdf5="data/raw_data_external/coinbaseUSD_11212019.hdf5"

In [73]:
df.to_hdf(filename, 'data', mode='w', format='table')

In [115]:
# DF ---> compressed HDF5
    # https://www.hdfgroup.org/2018/06/hdf5-or-how-i-learned-to-love-data-compression-and-partial-i-o/
compressors = ['blosc', 'bzip2', 'zlib']
dset = df.to_hdf(filename_hdf5, 'data', mode='w', format='table', complevel=9, complib=compressors[0])

In [116]:
df = pd.read_hdf(filename_hdf5, 'data')

In [117]:
dset = pd.read_hdf(filename_hdf5, 'data')

In [75]:
df

                Date    Price      Size
0         1417412036   300.00  0.010000
1         1417412423   300.00  0.010000
2         1417415048   370.00  0.010000
3         1417416612   370.00  0.026556
4         1417498166   377.00  0.010000
...              ...      ...       ...
56615863  1546898809  4006.00  0.075851
56615864  1546898812  4006.00  0.011925
56615865  1546898814  4005.55  0.075016
56615866  1546898815  4005.99  0.012919
56615867  1546898819  4005.99  0.025079

[56615868 rows x 3 columns]

In [101]:
# !echo 'data/raw_data_external/coinbaseUSD_11212019.csv' >> .gitignore

In [96]:
row_split_count = int(row_count/4)
row_split_count

14153967

In [118]:
!split -l 14153967 -d "data/raw_data_external/coinbaseUSD_11212019.csv" "data/raw_data_external/"

#00,01,02,03 is split

#!echo 'data/raw_data_external/coinbaseUSD_11212019.hdf5' >> .gitignore

In [108]:
# df_chunk0 = pd.read_csv("data/raw_data_external/00")
# df_chunk1 = pd.read_csv("data/raw_data_external/01")
# df_chunk2 = pd.read_csv("data/raw_data_external/02")
# df_chunk3 = pd.read_csv("data/raw_data_external/03")

In [109]:
# df_chunk0 = df_chunk0.to_hdf("data/raw_data_external/00.hdf5", 'data', mode='w', format='table')
# df_chunk1 = df_chunk1.to_hdf("data/raw_data_external/01.hdf5", 'data', mode='w', format='table')
# df_chunk2 = df_chunk2.to_hdf("data/raw_data_external/02.hdf5", 'data', mode='w', format='table')
# df_chunk3 = df_chunk3.to_hdf("data/raw_data_external/03.hdf5", 'data', mode='w', format='table')

In [ ]:
# for i,chunk in enumerate(pd.read_csv('d', chunksize=500000)):
#     chunk.to_csv('chunk{}.csv'.format(i), index='False')

In [ ]:
## Non-L2/Historical OHLC
# Kaggle dataset for all token historical prices 04-28-2013 to 05-21-2018
# https://www.kaggle.com/jessevent/all-crypto-currencies